/* styles.css */
.app {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.devices-title {
  font-weight: bold;
  font-size: 38px; /* Example size */
  color: #333; /* Example color */
}

.danger-zone {
  text-decoration: none; /*remove underline*/
  font-size: 20px; /* Example size */
  color: #777; /* Example color */
}
.danger-zone:hover {
  /* Optional: Change color on hover */
  color: hwb(0 0% 2% / 0.795); /* Example hover color */
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.device-card {
  flex: 1 0 calc(45% - 20px); /* Adjusted with margin */
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  position: relative;
  padding-bottom: 80px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  allign-items: center;
  text-align: left;
  padding: 40px;
  padding-bottom: 0px;
}

.card-content {
  padding: 40px;
  padding-bottom: 60px;
}

.device-icon {
  padding: 40px;
  padding-right: 20px;
  padding-top: 50px;
}

/*
  .card-header icon {
    width: 50px;
    height: 50px;
    padding: 40px;
    padding-right: 20px;
    padding-top: 50px;
  }
  */

.info {
  flex-grow: 1;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

.row .icon {
  margin-right: 15px;
}

.card-footer {
  background-color: lightgray;
  padding: 20px;
  padding-top: 0px;
  font-weight: 550;
  font-size: 18px;
  transition: background-color 0.3s ease;

  position: absolute; /* Set position to absolute */
  bottom: 0; /* Position at the bottom */
  left: 0; /* Position at the left */
  right: 0; /* Position at the right */
  border-bottom-left-radius: 10px; /* Match border radius of the device card */
  border-bottom-right-radius: 10px; /* Match border radius of the device card */
}

/*.card-footer button {
  width: 100%; // Fill the entire width of the footer 
  height: 100%; // Fill the entire height of the footer 
  border: none; // Remove button border 
  border-radius: inherit; // Inherit border radius from the footer
  cursor: pointer;
}*/

.device-info {
  margin-left: 20px; /* Adjust spacing from the left border */
  margin-top: 20px; /* Adjust spacing from the top border */
}

.dark-gray {
  background-color: #ccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
